<%- include('partials/header') %>

<link rel="stylesheet" href="/styles/admin-link.css"/>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" defer>
</script>
<script> const results = <%- JSON.stringify(results) %>; </script>
<script defer src="/scripts/admin-link.js"></script>
</head>

<body>
<header class="logo">
  <div class="banner">
    <img src="/icons/logo-text.png" alt="logo" class="img-fluid">
  </div>
</header>

<div class="body-container container-sm">

  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-3">
      <h3>Poll Details</h3>
    </div>

    <div class="col-12 d-flex flex-column justify-content-center align-items-center row mb-3">
      <div class="col-6 d-flex justify-content-center mb-2">
        <h4>Voter Url</h4>
      </div>

      <div class="col-6 d-flex flex-row justify-content-center mb-5">
        <textarea class="link" readonly><%= url %></textarea>
        <button class="btn btn-primary copy">
          <i class="fa-regular fa-clipboard"></i>
        </button>
      </div>
      <div class="copy-message"></div>
    </div>

    <div class="row mb-3">
      <div class="col-12 d-flex justify-content-center">
        <h3>Poll Results</h3>
      </div>

      <div class="col-12 d-flex justify-content-center mb-5">
        <canvas id="barChart"></canvas>
      </div>

    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <h3>Vote Details</h3>
      </div>

      <% for (const voteDetail of voteDetails) { %>
        <div class="row">
          <div class="col-12 d-flex justify-content-center mb-2">
            <h4>
              <%= voteDetail['voter_name'] %>
              's Preference</h4>
          </div>

          <div class="col-12 d-flex flex-column justify-content-center align-items-center mb-2">
            <% for (let x = 0; x < voteDetail['selected_options_titles'].length; x++) { %>
              <div>
                <p><%= voteDetail['selected_options_titles'][x] %> received
                  <span><%= voteDetail['scores'][x] %> points</span>
                </p>
              </div>

            <% } %>
          </div>
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-6 d-flex justify-content-end align-items-center pt-2">
              <h6>Comment: </h6>
            </div>
            <div class="col-6 col-6 d-flex justify-content-start align-items-center">
              <p><%= voteDetail['comment'] %></p>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <hr class="break col-4">
          </div>

        </div>
      <% } %>
    </div>

    <div class="row mb-2">
      <div class="col-12 d-flex justify-content-center">
        <h5>This poll will be closed at:</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <p><%= expiredTime %></p>
      </div>
    </div>
  </div>

  <% if (new Date(currentTime) < new Date(expiredTime) || expiredTime == null) { %>
  <div class="d-flex justify-content-center mt-5">
    <button class="end-button btn btn-primary">End the Poll</button>
  </div>
  <% } else { %>
  <div class="d-flex justify-content-center mt-5">
    <button class="end-button btn btn-primary" disabled>Poll Ended</button>
  </div>
  <% } %>
</div>


<%- include('partials/footer') %>
