<%- include('partials/header') %>

<link rel="stylesheet" href="/styles/admin-link.css"/>
<script defer src="/scripts/admin-link.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" defer>
</script>

<script defer>
  document.addEventListener('DOMContentLoaded', function () {
    let labels = [];
    let values = [];
    let colors = [];

    function generateColor() {
      const hex = '0123456789ABCDEF'.split('');
      let color = '#';
      for (let i = 0; i < 6; i++) {
        color += hex[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    const results = JSON.parse('<%- JSON.stringify(results) %>');

    for (const result of results) {
      labels.push(result['title']);
      values.push(result['sum']);
    }

    for (let i = 0; i < labels.length; i++) {
      colors.push(generateColor());
    }
    console.log(labels);
    console.log(values);
    console.log(colors);


    new Chart('barChart', {
      type: 'horizontalBar',
      data: {
        labels: labels,
        datasets: [{
          label: 'Points Received',
          data: values,
          backgroundColor: colors
        }]
      },
      options: {
        legend: {
          labels: {
            fontSize: 16
          }
        },
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 1
            }
          }]
        }
      }
    });
  });
</script>
</head>

<body>
<header class="logo">
  <h2 class="">Show of Hands Logo</h2>
</header>
<div class="body-container">
  <h2>Poll Details</h2>

  <div class="voter-link-container">
    <h3>Voter Url</h3>
    <div class="voter-link">
      <textarea class="link form-control" readonly><%= url %></textarea>
      <button class="btn btn-primary copy">
        <i class="fa-regular fa-clipboard"></i>
      </button>
    </div>
    <div class="copy-message"></div>
  </div>

  <div class="chart-container">
    <h3>Poll Results</h3>
    <canvas id="barChart"></canvas>
  </div>

  <div class="poll-detail-container">
    <h3>Vote Details</h3>
    <% for (const voteDetail of voteDetails) { %>
      <div class="poll-detail pt-2">
        <h4>
          <%= voteDetail['voter_name'] %>
          's Preference</h4>
        <div class="poll-selection">
          <% for (let x = 0; x < voteDetail['selected_options_titles'].length; x++) { %>
            <p><%= voteDetail['selected_options_titles'][x] %> received
              <span><%= voteDetail['scores'][x] %> points</span>
            </p>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>


</div>


<%- include('partials/footer') %>
