<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/main.css"/>
<link rel="stylesheet" href="/styles/voter-link.scss"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer type="text/javascript" src="/scripts/poll.js"></script>
</head>

<body>
<header>
  <h1 class="">Show of Hands Logo</h1>
</header>

<div class="poll-container">

    <div class="welcome-message">
      <p> Welcome to poll <%= poll_details['title']%> created by <%= poll_details['creator_name']%>!

      We're excited to have you here. Your input is invaluable to us. Please take a few moments to cast your votes on the questions below.

      Happy Voting!</p>
    </div>

  <form action="/voter/" method="POST" class="form-content needs-validation" novalidate>
    <div class="form-floating">
      <input type="text" placeholder="Your name" id="name" name="name" class="form-control" required>
      <label for="name">Name</label>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter your name!
      </div>
    </div>
    <div class="form-floating">
      <input type="email" placeholder="Your email" id="email" name="email" class="form-control" required>
      <label for="email">Email</label>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter your email!
      </div>
    </div>
    <section class="candidate-container">
      <% for (const key in candidates) { %>
        <article>
          <divclass="form-floating">
            <%= candidates[key]['title'] %>
          </div>
          <div>
            <button type="button" id="show-description" class="btn btn-primary">Description</button>
          </div>
          <div>
            <%= candidates[key]['description'] %>
          </div>
          <label for="rank">Rank:</label>
          <select name="rank" id="rank">
            <option value="0">0</option>
          </select>
        </article>
      <% } %>
      <div>
        <button type="submit" class="btn btn-primary">Create poll</button>
      </div>
    </section>
  </form>
</div>

<%- include('partials/footer') %>
