<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/main.css"/>
<link rel="stylesheet" href="/styles/voter-link.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer type="text/javascript" src="/scripts/voter.js"></script>
</head>

<body>
<header class="logo">
  <div class="banner">
    <img src="/icons/logo-text.png" alt="logo" class="img-fluid">
  </div>
</header>

<div class="poll-container container-sm mt-5 pb-5">

  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-center">
      <h4>Welcome to poll <%= title %> created by <%= creator %>!</h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-center">
      <h5><%= description %></h5>
    </div>
  </div>


  <form action="/voter/" method="POST" class="form-content" >
    <div class="row mb-3">
      <div class="col-4 mx-auto">
        <label for="name">Your Name</label>
        <input type="text" id="name" name="name" value="anonymous" class="form-control">
      </div>
    </div>
    <% if (public === true) { %>
      <div class="col-4 mx-auto">
        <label for="email">Your Email</label>
        <input type="email" id="email" name="email" class="form-control">
      </div>
    <% } %>

    <div class="d-flex justify-content-center">
      <hr class="break col-4">
    </div>

    <section class="candidate-container">
      <% for (let x = 0; x < candidates[0].length; x++) { %>
        <div class="row mb-5">
          <div class="col-12 row mb-2">
            <div class="col-6 d-flex justify-content-end pt-2">
              <h5><%= candidates[0][x] %></h5>
            </div>

            <div class="  col-6 d-flex justify-content-start align-items-center">
              <div class="">
                <label for="rank" class="">Rank:</label>
              </div>

              <div>
                <select name="rank" class="form-select">
                  <option value="0">0</option>
                  <option value="1">1</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-12 d-flex justify-content-center">
            <%= candidates[1][x] %>
          </div>

        </div>
      <% } %>
    </section>
    <div class="row pb-3">
      <div class="col-4 mx-auto mb-5">
        <label for="comment">Comment</label>
        <textarea type="text" id="comment" name="comment" class="form-control size-5"></textarea>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>


<%- include('partials/footer') %>
